/*-- //header-bot --*/
/*-- banner-top --*/
body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #ffffff;
	 padding: 12px;
   
    margin: auto;
}

p, li,h3, li a, label {
    color: #555;
}
h1,u{
	
	text-decoration : none;
	color: #444;
    font-size: 22px;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: "Open Sans";
}
h2{
	font-size: 20px;
	
}
h3,h4 { 
	 text-align: justify;
	 text-align:left;
	 font-size:16px; 
	 font-weight:normal
     display: block;
   
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    background-color: #f7f7f3;
    font-family: "Open Sans";
}
h4{
	text-align: justify;

}
p{
	font-size: 15px;
	font-family: "Open Sans";
}


span{
	font-size: 20px;
}
people{
	font-size: 8px;
    font-family: "Roboto", arial, sans-serif;
    color: #999999;
    margin-bottom: 20px;
    display: block;
}
.ban-top{
	background:#000;
    padding: 0px 0;
}
.dropdown-menu.columns-1 {
    min-width: 280px;
    padding: 10px 10px;
}
.dropdown-menu.columns-2 {
    min-width: 280px;
    padding: 10px 10px;
}
.multi-gd-img img{
	width:100%;
}
/*-- nav-bar --*/
.navbar-default {
    background: none;
    border: none;
    min-height: inherit;
    margin: 0;
    float: left;
    width:100%
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background: none;
}
.navbar-nav > li {
    margin: 0 15px 0 0;
}
.navbar-nav > li > a {
    padding: 26px 16px;
}
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.navbar-nav > li > a {
    line-height: inherit;
}
/*-- navigation --*/
ul.multi-column-dropdown li {
    list-style-type: none;
    line-height: 2.5em;
}
ul.multi-column-dropdown li a {
text-decoration:none;
font-size:14px;
color:#8E8E8E;	
}
.nav-right{
	float:right;
}

/*-- //nav-bar --*/
/* Common styles for all menus */

.menu__list {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu__item {
	display: block;
	margin: 0em 0;
}

.menu__link {
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__link:hover,
.menu__link:focus {
	outline: none;
}

/* Individual styles */
.menu--shylock .menu__link {
	position: relative;
    margin: 0;
	color: #b5b5b5;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}

.menu--shylock .menu__item--current .menu__link,
.menu--shylock .menu__item--current .menu__link:hover,
.menu--shylock .menu__item--current .menu__link:focus {
	color: #d94f5c;
}

.menu--shylock .menu__item--current .menu__link::after,
.menu--shylock .menu__item--current .menu__link::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.menu--shylock .menu__item--current .menu__link::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.menu--shylock .menu__link:hover,
.menu--shylock .menu__link:focus {
	color: #b5b5b5;
}

.menu--shylock .menu__link:hover::before,
.menu--shylock .menu__link:focus::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.menu--shylock .menu__link::before,
.menu--shylock .menu__link::after {
	content: '';
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 5px;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transform-origin: center left;
	transform-origin: center left;
	-webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
	transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu--shylock .menu__link::before {
	background: #FDA30E;
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.menu--shylock .menu__link::after {
	background: #FDA30E;
}
a.menu__link {
    color: #fff !important;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
}
/*-- //left nav --*/
.top_nav_right {
    float: right;
    width: 21%;
}
.box_1 {
    padding: 15px 22px;
    text-align: center;
}
.total i {
    top: 2px;
    left: -5px;
}
a.simpleCart_empty {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    display: block;
}
.header-right ul li a:hover {
    transform: rotateY(360deg);
}
/*-- //banner-top --*/
/*-- banner --*/

/*- Body -*/
#show-info{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height:1.5;
	word-spacing:2px;
	text-align:inter-word;
	word-break:keep-all;
	background-color: #ffffff;
	border:0px;
	font-size:4px;
	
	  
}


/*- Footer -*/
footer {
  	background: #2e2e2e;
	padding: 0;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #717171;
	text-align: center;
	border-top: 1px solid #CECECE;
}
footer .footer-socials {
	margin: 60px 0 20px;
}
footer .footer-socials a {
	display: inline-block;
	margin-right: 5px;
	background-color: #626165;
	color: #fff;
	/* padding: 20px; */
	font-size: 20px;
	line-height: 45px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
footer .footer-socials a:hover {
	background-color: #dddddd;
}
footer .footer-bottom {
	padding: 0 0 40px;
}