<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcf.dao.SotResMapper">
	<resultMap id="BaseResultMap" type="com.lcf.model.SotRes" >
	    <id column="RESULT_ID" property="id" jdbcType="BIGINT" />
	    <result column="RESULT_NAME" property="name" jdbcType="VARCHAR" />
	    <result column="RESULT_DATE" property="date" jdbcType="DATATIME" />
	    <result column="USER_ID" property="user_id" jdbcType="BIGINT" />
	    <result column="RESULT_LANG" property="language" jdbcType="VARCHAR" />
	    <result column="RESULT_EVM" property="environment" jdbcType="VARCHAR" />
	    <result column="RESULT_REF" property="reference" jdbcType="VARCHAR" />
	    <result column="RESULT_RESFILE" property="resfile" jdbcType="LONGVARCHAR" />
	    <result column="RESULT_CODE" property="code" jdbcType="LONGVARCHAR" />
	    <result column="RESULT_STATUS" property="status" jdbcType="INT" />
	    <result column="RESULT_DESCRI" property="descrip" jdbcType="LONGVARCHAR" />
	    <result column="RESULT_ARC" property="arc" jdbcType="DOUBLE" />
	    <result column="RESULT_BC" property="bc" jdbcType="DOUBLE" />
	    <result column="RESULT_CM" property="cm" jdbcType="DOUBLE" />
	    <result column="RESULT_FM" property="fm" jdbcType="DOUBLE" />
	    <result column="RESULT_FOC" property="foc" jdbcType="DOUBLE" />
	    <result column="RESULT_IV" property="iv" jdbcType="DOUBLE" />
	    <result column="RESULT_LR" property="lr" jdbcType="DOUBLE" />
	    <result column="RESULT_OV" property="ov" jdbcType="DOUBLE" />
	    <result column="RESULT_POC" property="poc" jdbcType="DOUBLE" />
	    <result column="RESULT_SOB" property="sob" jdbcType="DOUBLE" />
	    <result column="RESULT_SV" property="sv" jdbcType="DOUBLE" />
	    <result column="RESULT_VC" property="vc" jdbcType="DOUBLE" />
	    <result column="RESULT_SPEED" property="speed" jdbcType="DOUBLE" />
	    <result column="RESULT_OVERALL" property="overall" jdbcType="DOUBLE" />
	    <association property="user" javaType="com.lcf.model.User">
	    	<id column="USER_ID" property="id" jdbcType="BIGINT" />
	    	<result column="USER_UNAME" property="username" jdbcType="VARCHAR" /> 
	    </association>	    
 	</resultMap>
	<select id="findSotResByUserID" resultMap="BaseResultMap">
		SELECT * FROM RESULT_SOT WHERE USER_ID = #{user_id} ORDER BY ${overall}
	</select>
    <select id="findSotResByName" resultMap="BaseResultMap">
		SELECT * FROM RESULT_SOT WHERE RESULT_NAME = #{name} ORDER BY ${overall}
	</select>
    <select id="getSotResList" resultMap="BaseResultMap" parameterType="com.lcf.model.SotRes">
		SELECT * FROM RESULT_SOT  WHERE 1 = 1
		<if test="sotres.name != null and sotres.name != ''">
		AND RESULT_NAME like concat('%',#{sotres.name},'%')
		</if>
		<if test="sotres.datetime !=null and sotres.datetime !=''">
		AND RESULT_DATE like concat('%',#{sotres.date},'%')
		</if>
		<if test="sotres.user_id != null and sotres.user_id != ''">
		AND USER_ID = #{sotres.user_id}
		</if>
		<if test="sotres.language != null and sotres.language != ''">
		AND RESULT_LANG like concat('%',#{sotres.language},'%')
		</if>
		<if test="sotres.environment != null and sotres.environment != ''">
		AND RESULT_EVM like concat('%',#{sotres.environment},'%')
		</if>
		<if test="sotres.reference != null and sotres.reference !=''">
		AND RESULT_REF like concat('%',#{sotres.reference},'%')
		</if>
		<if test="sotres.resfile != null and sotres.resfile != ''">
		AND RESULT_RESFILE like concat('%',#{sotres.resfile},'%')
		</if>
		<if test="sotres.code != null and sotres.code !=''">
		AND RESULT_CODE like concat('%',#{sotres.code},'%')
		</if>			
		<if test="sotres.descrip != null and sotres.descrip != ''">
		AND RESULT_DESCRI like concat('%',#{sotres.descrip},'%')
		</if>
		<if test="sotres.arc != null and sotres.arc != ''">
		AND RESULT_ARC = #{sotres.arc}
		</if>
		<if test="sotres.bc != null and sotres.bc != ''">
		AND RESULT_BC = #{sotres.bc}
		</if>
		<if test="sotres.cm != null and sotres.cm != ''">
		AND RESULT_CM = #{sotres.cm}
		</if>
		<if test="sotres.fm != null and sotres.fm != ''">
		AND RESULT_FM = #{sotres.fm}
		</if>
		<if test="sotres.foc != null and sotres.foc != ''">
		AND RESULT_FOC = #{sotres.foc}
		</if>
		<if test="sotres.iv != null and sotres.iv != ''">
		AND RESULT_IV = #{sotres.iv}
		</if>
		<if test="sotres.lr != null and sotres.lr != ''">
		AND RESULT_LR = #{sotres.lr}
		</if>
		<if test="sotres.ov != null and sotres.ov != ''">
		AND RESULT_OV = #{sotres.ov}
		</if>
		<if test="sotres.poc != null and sotres.poc != ''">
		AND RESULT_POC = #{sotres.poc}
		</if>
		<if test="sotres.sob != null and sotres.sob != ''">
		AND RESULT_OV = #{sotres.sob}
		</if>
		<if test="sotres.sv != null and sotres.sv != ''">
		AND RESULT_SV = #{sotres.sv}
		</if>
		<if test="sotres.vc != null and sotres.vc != ''">
		AND RESULT_VC = #{sotres.vc}
		</if>
		<if test="sotres.status != null and sotres.status !=''">
		AND RESULT_STATUS = #{sotres.status}
		</if>
		<if test="sotres.speed != null and sotres.speed !=''">
		AND RESULT_SPEED = #{sotres.speed}
		</if>
		<if test="sotres.overall != null and sotres.overall !=''">
		AND RESULT_OVERALL = #{sotres.overall}
		</if>
		ORDER BY ${overall}
	</select>
	
	<select id="findSotResByUserName" resultMap="BaseResultMap">
		SELECT * FROM RESULT_SOT WHERE USER_ID = (SELECT USER_ID FROM USER WHERE USER_UNAME = #{username}) ORDER BY ${overall}
	</select>
	
    <delete id="deleteSotRes" parameterType="int">
		DELETE FROM RESULT_SOT WHERE RESULT_ID = #{id}
	</delete>
	
	<update id="updateSotRes" useGeneratedKeys="true" keyProperty="id">
		UPDATE RESULT_SOT 
		<set>
			<if test="name != null and name != ''">RESULT_NAME = #{name},</if>
			<if test="datetime !=null and datetime !=''">RESULT_DATE = #{date},</if>
			<if test="user_id != null and user_id != ''">USER_ID = #{user_id},</if>
			<if test="language != null and language != ''">RESULT_LANG = #{language},</if>
			<if test="environment != null and environment != ''">RESULT_EVM = #{environment},</if>
			<if test="reference != null and reference !=''">RESULT_REF = #{reference},</if>
			<if test="resfile != null nad resfile != ''">RESULT_RESFILE = #{resfile},</if>
			<if test="code != null and code !=''">RESULT_CODE = #{code},</if>			
			<if test="descrip != null and descrip != ''">RESULT_DESCRI = #{descrip},</if>
			<if test="arc != null and arc != ''">RESULT_ARC = #{arc},</if>
			<if test="bc != null and bc != ''">RESULT_BC = #{bc},</if>
			<if test="cm != null and cm != ''">RESULT_CM = #{cm},</if>
			<if test="fm != null and fm != ''">RESULT_FM = #{fm},</if>
			<if test="foc != null and foc != ''">RESULT_FOC = #{foc},</if>
			<if test="iv != null and iv != ''">RESULT_IV = #{iv},</if>
			<if test="lr != null and lr != ''">RESULT_LR = #{lr},</if>
			<if test="ov != null and ov != ''">RESULT_OV = #{ov},</if>
			<if test="poc != null and poc != ''">RESULT_POC = #{poc},</if>
			<if test="sob != null and sob != ''">RESULT_OV = #{sob},</if>
			<if test="sv != null and sv != ''">RESULT_SV = #{sv},</if>
			<if test="vc != null and vc != ''">RESULT_VC = #{vc},</if>
			<if test="status != null and status !=''">RESULT_STATUS = #{status},</if>
			<if test="speed != null and speed !=''">RESULT_SPEED = #{speed},</if>
			<if test="overall != null and overall !=''">RESULT_OVERALL = #{overall}</if>		
		</set>
		WHERE RESULT_ID = #{id}
	</update>
	
	<insert id="addSotRes" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO INFO(<trim suffixOverrides=",">
            <if test="name != null and name != ''">RESULT_NAME,</if>
			<if test="datetime !=null and datetime !=''">RESULT_DATE,</if>
			<if test="user_id != null and user_id != ''">USER_ID,</if>
			<if test="language != null and language != ''">RESULT_LANG,</if>
			<if test="environment != null and environment != ''">RESULT_EVM,</if>
			<if test="reference != null and reference !=''">RESULT_REF,</if>
			<if test="resfile != null nad resfile != ''">RESULT_RESFILE,</if>
			<if test="code != null and code !=''">RESULT_CODE,</if>			
			<if test="descrip != null and descrip != ''">RESULT_DESCRI,</if>
			<if test="arc != null and arc != ''">RESULT_ARC,</if>
			<if test="bc != null and bc != ''">RESULT_BC,</if>
			<if test="cm != null and cm != ''">RESULT_CM,</if>
			<if test="fm != null and fm != ''">RESULT_FM,</if>
			<if test="foc != null and foc != ''">RESULT_FOC,</if>
			<if test="iv != null and iv != ''">RESULT_IV,</if>
			<if test="lr != null and lr != ''">RESULT_LR,</if>
			<if test="ov != null and ov != ''">RESULT_OV,</if>
			<if test="poc != null and poc != ''">RESULT_POC,</if>
			<if test="sob != null and sob != ''">RESULT_OV,</if>
			<if test="sv != null and sv != ''">RESULT_SV,</if>
			<if test="vc != null and vc != ''">RESULT_VC,</if>
			<if test="status != null and status !=''">RESULT_STATUS,</if>
			<if test="speed != null and speed !=''">RESULT_SPEED,</if>
			<if test="overall != null and overall !=''">RESULT_OVERALL</if>
			</trim>)values(<trim suffixOverrides=",">
			<if test="name != null and name != ''">#{name},</if>
			<if test="datetime !=null and datetime !=''">#{date},</if>
			<if test="user_id != null and user_id != ''">#{user_id},</if>
			<if test="language != null and language != ''">#{language},</if>
			<if test="environment != null and environment != ''">#{environment},</if>
			<if test="reference != null and reference !=''">#{reference},</if>
			<if test="resfile != null nad resfile != ''">#{resfile},</if>
			<if test="code != null and code !=''">#{code},</if>			
			<if test="descrip != null and descrip != ''">#{descrip},</if>
			<if test="arc != null and arc != ''">#{arc},</if>
			<if test="bc != null and bc != ''">#{bc},</if>
			<if test="cm != null and cm != ''">#{cm},</if>
			<if test="fm != null and fm != ''">#{fm},</if>
			<if test="foc != null and foc != ''">#{foc},</if>
			<if test="iv != null and iv != ''">#{iv},</if>
			<if test="lr != null and lr != ''">#{lr},</if>
			<if test="ov != null and ov != ''">#{ov},</if>
			<if test="poc != null and poc != ''">#{poc},</if>
			<if test="sob != null and sob != ''">#{sob},</if>
			<if test="sv != null and sv != ''">#{sv},</if>
			<if test="vc != null and vc != ''">#{vc},</if>
			<if test="status != null and status !=''">#{status},</if>
			<if test="speed != null and speed !=''">#{speed},</if>
			<if test="overall != null and overall !=''">#{overall}</if>
            </trim>)
	</insert>
</mapper>
